<style>
[css]
</style>
<div class="humannotator">
    <div class="humannotator__name">
        [annotator]
        <span class="humannotator__user">[user]</span>
    </div>
    <div class="humannotator__record">
        <div class="humannotator__label">
            [_lbl_id_]
        </div>
        <div class="humannotator__value">
            [item_id]
        </div>
        <div class="humannotator__idx__counter">
            [index_count]
        </div>
        <div class="humannotator__rule"></div>
        [content]
    </div>
    [tasks]
    [annotation]
</div>

<script>
    [_expander_]
</script>
