<style>
[css]
</style>
<div class="humannotator">
    <div class="humannotator__name">
        [annotator]
    </div>
    <div class="humannotator__id humannotator__container">
        <div class="humannotator__label">
            [_lbl_id_]
        </div>
        <div class="humannotator__value">
            [item_id]
        </div>
    </div>
    <div class="humannotator__idx__counter">
        [index_count]
    </div>
    <div class="humannotator__item">
        [content]
    </div>
    <div class="humannotator__task humannotator__task__format">
        <div class="humannotator__task__name">
            <b>[task_name]</b> ([task_type])
        </div>
        [instruction]
    </div>
    <div class="humannotator__task__counter humannotator__task__format">
        Task [task_count]
    </div>
    <div class="humannotator__error humannotator__task__format">
        [error]
    </div>
</div>
