<style>
[css]
</style>
<div class="humannotator">
    <div class="humannotator__name">
        [annotator]
    </div>
    <div class="humannotator__id humannotator__container">
        <div class="humannotator__label">
            [_lbl_id_]
        </div>
        <div class="humannotator__value">
            [item_id]
        </div>
    </div>
    <div class="humannotator__cntr">
        [counter]
    </div>
    <div class="humannotator__item humannotator__container">
        <div class="humannotator__label">
            [_lbl_item_]
        </div>
        <div class="humannotator__value">
            [item]
        </div>
    </div>
    <div class="humannotator__task">
        [instruction]
    </div>
</div>
