.humannotator {
    display: grid;
    grid-template-areas:
        "name name"
        "_id_ _idx"
        "item item"
        "task _tsk"
        "err_ err_";
}
/* GRID AREAS */
div.humannotator__name {
    grid-area: name;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
}
div.humannotator__id {
    grid-area: _id_;
}
div.humannotator__idx__counter {
    grid-area: _idx;
    justify-self: end;
}
div.humannotator__item {
    grid-area: item;
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
div.humannotator__task {
    grid-area: task;
}
div.humannotator__task__counter {
    grid-area: _tsk;
    justify-self: end;
}
div.humannotator__error {
    grid-area: err_;
    font-style: italic;
    color: red;
}
/* GENERAL */
div.humannotator__name,
div.humannotator__id,
div.humannotator__idx__counter,
div.humannotator__item,
div.humannotator__task,
div.humannotator__task__counter,
div.humannotator__error {
    padding: .25rem .5rem;
}
div.humannotator__container {
    display: flex;
}
div.humannotator__label {
    min-width: 8em;
    font-size: .8em;
    margin-right: 1em;
}
span.humannotator__user {
    font-size: .8em;
    font-weight: 400;
}
div.humannotator__task__format {
    font-family: 'Courier New', Courier, monospace;
    font-size: .9em;
}
div.humannotator__task__name {
    font-size: 1.2em;
    margin-bottom: .25rem;
}
.humannotator mark {
    padding: 1px 8px;
    border-radius: 2px;
}
/* EXPANDABLE */
.humannotator__expandable,
.humannotator__content {
    cursor: pointer;
    background-color: white;
    color: black;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font: inherit;
}
button.humannotator__expandable,
button.humannotator__content {
    padding: 0;
}
.humannotator__expandable:after {
    content: '+';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.humannotator__active:after {
    content: "-";
}
.humannotator__expandable:hover {
    background-color: rgba(176, 196, 222, 0.5);
}
.humannotator__content {
    display: none;
    overflow: hidden;
}
